

body {
    background-image: url('Images/cliffs2..jpg');
    font-family: 'Work Sans', sans-serif;
    font-size: 17px;
    background-color: #E8DDB5;
    color: #4A6FA5;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    width: 100%;
    height: auto;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;   
}

h3 {
    color: #8DAA9D;
}

/* Headers */


h1 {
    font-weight: bold;
    color: #FCAB64;
    padding-top: 20%;
	text-shadow: 0px 4px 3px white,
	0px 8px 13px white;
   font-family: 'Josefin Sans', sans-serif;
   font-size: 65px;
   padding-bottom: 20%;

}


.fa-list-alt{

   font-size: 55px;
    color: grey;
   
  }

h4, h3{
    color: #273469;
       font-family: 'Josefin Sans', sans-serif;


}

.explination {
    text-align: center;
    border: white;
    background: white;
    border-style: solid;
    margin: 5%;
    width: auto;
    height: auto;

}



h2 {
    color: white;    
}

/* Googlemaps */
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/* End of google maps */
#content {
    text-align: center;
    text-decoration-style: solid;
    text-decoration-color: antiquewhite;
     color: #4A6FA5;
    padding-top: 10%; 
    padding-bottom: 10%;
    font-weight: bold;


}
 

#navHello2 {
    z-index: 1;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 1% !important;
    padding: 15;
    position: fixed;
    image-orientation: top;
    text-align: center;
    width: 100%;

}


#home {
    color: white;
}


a:hover { 
    /* background-color: #BFC0C0; */
    color: white; 
}

ul a {
    color: #FCAB64;
  
}

/* footer */
html {
    position: relative;
    min-height: 100%;
}

footer {
    left: 0;
    color: #FCAB64;
    width: 100%;    
    text-align: center;
    font-weight: bold;
    background-color: #EBEBEB;
     background: url('Images/Footer.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
    text-align: center;
    }

    div#frow.row {
    margin: 0%;
} 


#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    color: white;
}

#myFooter h5 {
    font-size: 22px;
       font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter a:hover,
#myFooter a:focus {
    color: white;
}


.social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

 .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
}

/* End footer */

/* frontpage */
.jumbotron {
    
    text-align: left;
    font-size: 19px;
    padding: 10% 10%;
    background-color: #FBF5F3;
    margin-bottom: 0;
    border-radius: 0%;
}
.col {
    padding: 0%;
}

/* TABLES */

div.table-title {
   display: block;
  margin: auto;
  max-width: 600px;
    width: 100%;
}
/*** Table Styles **/
 tr:hover td {
  background:#9A9BAB;
  color:#FFFFFF;
  border-top: 1px solid white;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#9A9BAB;
}

td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

/* *** Table Styles ** */

tr:hover td {
    background:#9A9BAB;
    color:#FFFFFF;
    border-top: 1px solid white;
}


tr:nth-child(odd) td {
    background:#EBEBEB;
}

.labels div {
    position: relative;
}

.labels .fa-plus {
    position: absolute;
    right: 10px;
    top: 5px;
}

table.courses tr:not(.labels) {
    display: none;
}

[data-toggle="toggle"] {
    display: none;
}

#dxp {
    background-color: #BDE4A7;
}

#dcc {
    background-color: #7A9CC6;
}

#facc{
    background-color: #95B8D1;
}

#spec {
    background-color: #E8DDB5;
}

#tec {
    background-color: #C2E7DA;
}

#fun {
    background-color: #EDAFB8;
}


#divide {
        border-radius: 25px;
        width: 100%;
        height: auto;

}



/* slideshow */

.zoom {

    transition: transform .2s;
    margin-left: 1%;
}


.zoom:hover {
    transform: scale(1.3); 
}


/* Parallax + shit */
.parallex {
    background: url('Images/Div.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 450px;
    text-align: center;
   padding-top: 3%;


}

.CP {
        background: url('Images/strangefish.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 450px;
    text-align: center;
    padding-top: 3%;
}

.LC {
        background: url('Images/nice.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 450px;
    text-align: center;
    padding-top: 3%;
       
}