body {
    
    background-image: url('Images/ban.jpg');
    font-family: 'Josefin Sans', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    width: 100%;
    height: auto;
}



 .jumbotron {    
  opacity: 0.8;
  margin-top: 50px;
  font-size: 21px;
  padding: 0%;
   padding-bottom: 5% ;
    text-align: center;
    background-color: #FBF5F3;
}




.jumbotron h1 {
  
    font-weight: bold;
    color: #FCAB64;
	text-shadow: 0px 4px 3px white,
	0px 8px 13px white,
    0px 18px 28px grey;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 70px;



}




.zoom {

    transition: transform .2s;
    margin-left: 1%;
 

}


.zoom:hover {
    transform: scale(1.3); 
}


  

